
header {
  display: flex;
  background-color: lightsteelblue;
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
  height: 400px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5px;
}

h2 {
  margin-top: 5px;
}
