
.header {
  display: flex;
  background-color: salmon;
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
  max-height: 400px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5px;
}

h2 {
  margin-top: 5px;
  color: white;
}

h2 span {
  font-weight: 300;
}