
@media only screen and (max-width: 1024px){
  nav {
    background-color: salmon;
    background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
  }
  nav a:hover {
    color: orangered;
  }
  #to-top {
    background-color: #4056A1;
  }
  #to-top:active {
    background: midnightblue;
  }
}
@media only screen and (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-top: 15%;
    max-width: 1920px;
  }
  nav {
    font-size: 28pt;
  }

  .header {
    max-width: 37%;
    float: left;
    margin-left: 3%;
    margin-right: 3%;
  }
  main {
    width: 60%;
    float: right;
  }
  article.tweet {
    width: 50vw;
  }
  section.new-tweet {
    width: 50vw;
  }
  section.past-posts{
    width: 50vw;
    font-size: 22px;
  }
  textarea#tweet-text {
    width: 50vw;
  }
}
@media only screen and (min-width: 1920px) {
  body {
    font-size: 36px;
  }
  section.past-posts {
    font-size: 20px;
  }
}