.new-tweet {
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.new-tweet label {
  display: flex;
  font-weight: bold;
  justify-content: flex-start;
  margin-bottom: 10px;
  width: 600px;
}

textarea#tweet-text {
  background-color: #f4f1ec;
  border-bottom-width: thick;
  width: 600px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  outline: none;
  resize: none;
 }

 .below-text-area {
  display: flex;
  justify-content: space-between;
 }

 button {
  font-family: 'Bungee', sans-serif;
  color: #FFFFFF;
  background-color: #4056A1;
  border: 1px;
  margin-top: 4px;
 }
 button:hover {
  box-shadow: 4px 5px 3px 0px rgba(33,33,33,.2); 
  transition: box-shadow;
}

 .counter {
  margin-top: 5px;
  font-family: 'Bungee', sans-serif;
 }
 .counter-red {
   color: red;
 }
 .error-empty {
  display: none;
  border: 2px solid;
  margin: 10px auto;
  margin-bottom: 25px;
  padding: 10px 10px 15px 50px;
  color: #D8000C;
  background-repeat: no-repeat;
  background-position: 10px center;
  max-width: 460px;
  background-color: #FFBABA;
  background-image: url(https://i.imgur.com/GnyDvKN.png);
 }

 .error {
  display: none;
  border: 2px solid;
  margin: 10px auto;
  margin-bottom: 25px;
  padding: 10px 10px 15px 50px;
  color: #D8000C;
  background-repeat: no-repeat;
  background-position: 10px center;
  max-width: 460px;
  background-color: #FFBABA;
  background-image: url(https://i.imgur.com/GnyDvKN.png);
 }