article.tweet {
  border-style: solid;
  margin-top: 28px;
  margin-bottom: 28px;
}

article.tweet:hover {
  box-shadow: 5px 5px 3px 11px rgba(33,33,33,.2); 
  transition: box-shadow .1s;
}
article.tweet:hover header .user {
  display: block;
}

article.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

article.tweet div {
  display:flex;
  align-content: center;
  place-items: flex-end;
}

.user {
  display: none;
  color: lightsteelblue;
}

article.tweet img {
    padding-top: 20px;
    padding-right: 20px;
}


article.tweet footer {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  font-size: small;
}

section.past-posts {
   padding-left: 20px;
   padding-top: 15px;
   max-width: 600px;
}

hr {
   border-top: 3px solid;
   width: 95%;
}