article.tweet {
  border-style: solid;
  margin-top: 28px;
  margin-bottom: 28px;
}

article.tweet:hover {
  box-shadow: 15px 14px 3px 0px rgba(33,33,33,.2); 
  transition: box-shadow .1s;
}
article.tweet:hover .user {
  display: block;
}
article.tweet:hover .share-links {
  display: block;
}

article.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

article.tweet div {
  display:flex;
  align-content: center;
  place-items: flex-end;
  margin-right: 10px;
}

.user {
  display: none;
  color: lightsteelblue;
}
.share-links{
  display: none;
}

article.tweet img {
  padding-top: 20px;
  padding-right: 20px;
}


article.tweet footer {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  font-size: small;
}

section.past-posts {
   padding-left: 20px;
   padding-top: 15px;
   padding-bottom: 10px;
   padding-right: 10px;
}

hr {
   border-top: 3px solid;
   width: 95%;
}

.share-links {
  font-size: medium;
}